<!doctype html>
<div class="container">
    <div class="card bg-light mb-3 mt-5">
        <div class="card-header">
            <h3>Partidos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Resultado</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let partido of partidos" class="table-info">
                        <td>{{partido.idPartido}}</td>
                        <td>{{partido.nombre}}</td>
                        <td>{{partido.descripcion}}</td>
                        <td>{{partido.fecha}}</td>
                        <td>{{partido.resultado}}</td>
                        <td>
                            <button (click)= "Participacion(partido)" class="btn btn-info" style="margin-left: 10px;">Datos</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
