
<!doctype html>
<div class="container-fluid" >
    <div class="row content" >
        <aside class="card-gruop-vertical col-sm-3 mt-5" >
            <div class="card bg-light mb-3" >
                <div class="card-header">
                    <h3>Selector de Tiempo de juego</h3>
                </div>
                <div class="card-body">
                    <h4>Periodo de Tiempo</h4>
                    <mat-button-toggle-group [(ngModel)]="tiempo" name="tiempo" id="tiempo" aria-label="Font Style" >
                        <mat-button-toggle value="1">Primer Tiempo</mat-button-toggle>
                        <mat-button-toggle value="2">Segundo Tiempo</mat-button-toggle>
                      </mat-button-toggle-group>
                    
                    <h4>Equipo Interesado</h4>
                    <mat-button-toggle-group [(ngModel)]="team" (change) = "filterPlayers()" name="team" id="team" aria-label="Font Style" >
                        <mat-button-toggle value="home">Local</mat-button-toggle>
                        <mat-button-toggle value="away">Visitante</mat-button-toggle>
                      </mat-button-toggle-group>
                    
                </div> 
              </div>
              
              <div class="card bg-light mb-3" style="max-width: 100%;">
                <div class="card-header"><h3>Jugador Interesado</h3></div>
                <div class="card-body">
                    
                    <mat-button-toggle-group *ngFor = "let player of players" class="btn-group-vertical m-1 " [(ngModel)]="playerZ" (change) = "filterPlayers()" name="ply" id="ply" aria-label="Font Style"  >
                        <mat-button-toggle  [value] = player class="w-45" >{{player}}</mat-button-toggle>
                      </mat-button-toggle-group>
                </div>
              </div>
              <div class="card bg-light mb-3" *ngIf="playerZ != null" style="max-width: 100%;" (change) = "filterPlayers()">
                <div class="card-header"><h3>Datos para Visualizar</h3></div>
                <div class="card-body">
                    <section class="example-section">
                        <mat-checkbox  [(ngModel)]="checkedPases" class="example-margin">Pases Acertados</mat-checkbox>
                        <mat-checkbox  [(ngModel)]="checkedFallados" class="example-margin">Pases Fallados</mat-checkbox>
                        <mat-checkbox  [(ngModel)]="checkedRecuperaciones" class="example-margin">Intercepciones</mat-checkbox>
                        <mat-checkbox  [(ngModel)]="checkedShots" class="example-margin">Disparos</mat-checkbox>
                      </section>
                      <br>
                    <div *ngIf="checkedPases == true || checkedFallados == true || checkedRecuperaciones == true || checkedShots == true" >
                        <h3>Zona Interesada</h3>
                        <div class="btn-group" role="group" aria-label="Basic example" *ngIf="tiempo == 1 && team == 'home' && idPartido == 1|| tiempo == 2 && team == 'away' && idPartido == 1 || tiempo == 2 && team == 'home' && idPartido == 2 || tiempo == 1 && team == 'away'&& idPartido == 2">
                            <button (click) = "envioDatos('ini')" type="button" class="btn btn-secondary">Iniciación</button>
                            <button (click) = "envioDatos('crea')" type="button" class="btn btn-secondary">Creación</button>
                            <button (click) = "envioDatos('fin')" type="button" class="btn btn-secondary">Finalización</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example" *ngIf="tiempo == 2 && team == 'home' && idPartido == 1|| tiempo == 1 && team == 'away'&& idPartido == 1 || tiempo == 1 && team == 'home' && idPartido == 2 || tiempo == 2 && team == 'away' && idPartido == 2 ">
                            <button (click) = "envioDatos('fin')" type="button" class="btn btn-secondary">Iniciación</button>
                            <button (click) = "envioDatos('crea')" type="button" class="btn btn-secondary">Creación</button>
                            <button (click) = "envioDatos('ini')" type="button" class="btn btn-secondary">Finalización</button>
                        </div>
                    </div>
                </div>
              </div>
        </aside>
        <div class="card bg-light mb-3 col-sm-9 mt-5">
            <div class="card-header">
                <h3>Terreno de juego</h3>
                <button (click) = "openLeyenda()" class="btn btn-warning" >Leyenda</button>
            </div>
            <div class="card-body">
                <div class="container" *ngIf="tiempo == 1 && team == 'home' && idPartido == 1|| tiempo == 2 && team == 'away' && idPartido == 1 || tiempo == 2 && team == 'home' && idPartido == 2 || tiempo == 1 && team == 'away'&& idPartido == 2">
                    <img class="img_atq" src="../../../assets/der.png"  width="1000" height="300">
                </div>
                <div class="container" *ngIf="tiempo == 2 && team == 'home' && idPartido == 1|| tiempo == 1 && team == 'away'&& idPartido == 1 || tiempo == 1 && team == 'home' && idPartido == 2 || tiempo == 2 && team == 'away' && idPartido == 2 ">
                    <img class="img_atq" src="../../../assets/izq.png" width="1000" height="300">
                </div>
                <img id = "myImage" (load)="onImageLoad()" #myImage class = "hiden" src="../../../assets/LineasCampo.png"  >
                <canvas id="myCanvas" #myCanvas class="w-full object-cover"></canvas>
            </div>


