.button-t {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    visibility: hidden; 

}

.tabla-terreno{
    background-image: url("../../../assets/LineasCampo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 745px;
    text-align: center;
    margin: auto;
    /*background-size: contain;*/
    /*border: 2px solid black;*/
}

.td-button{
    width: 15%;
    height: 100%;
    border: 0.8px solid grey;
    height: 20px;
}

.td-button:hover button {
    visibility: visible;
    background-color: white;
    opacity: 0.5;
  }

.hiden {
    display: none;
}

.w-full {
    width: 100%;
}

.object-cover {
    object-fit: cover;
}

.container {
    position: relative;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 1%;
  }
  
.img_atq { 
    width: 100%;
    height: auto;
  }