<!doctype html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="assets/footstats.jpg" style="margin-right: 40px;">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" >
          <button class="btn btn-warning" (click)="List()">Lista de Partidos</button>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>